---
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: metrics-service
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      scrape_timeout: 10s
      evaluation_interval: 1m

    scrape_configs:
      - job_name: 'spring-service'
        kubernetes_sd_configs:
        - role: endpoints
        relabel_configs:
        - source_labels: [__meta_kubernetes_service_name]
          action: keep
          regex: spring-service
        - source_labels: [__meta_kubernetes_namespace]
          action: keep
          regex: metrics-service
        metrics_path: /actuator/prometheus
        scheme: http
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
  namespace: metrics-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
        - name: prometheus
          image: prom/prometheus
          args:
            - "--config.file=/etc/prometheus/prometheus.yml"
          ports:
            - containerPort: 9090
          volumeMounts:
            - name: config-volume
              mountPath: /etc/prometheus/
      volumes:
        - name: config-volume
          configMap:
            name: prometheus-config
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus-service
  namespace: metrics-service
spec:
  ports:
    - port: 9090
      targetPort: 9090
  selector:
    app: prometheus